/* .personal-container,.qualifiaction-container{
    height: 97vh;
    display: flex;
    border: 1px solid black;
}
.personal-form,.qualifiaction-form{
    
    width: 50%;
    margin: 40px;
} */

.personal-container,
.qualification-container {
  height: 92vh;
  display: flex;
}


.qualification-form{
  width: 50%;
  margin:2rem;
}

.text-primary{
    margin-bottom: 12px;
}
.personal-form{
  width: 50%;
  margin:2rem;
}
.Generate{
  
    position: fixed;
    bottom: 5rem;
    right: 1rem;

}
.save{

    position: fixed;
    bottom: 2rem;
    right: 1rem;

}